{% extends "base.html" %}

{% block content %}
    <h1>I dont like blogz, sam i am</h1>

    <form source ="/newblogpost" method='post'>

        <label>
            Blog Title:
            <input type="text" name='title' id="stormtrooper" value="" style="width:400px; height:40px;"/></br>
        </label>
            <br>

        <label>
            Blog Post:

            <textarea name="body"></textarea>
            <br>
        </label>
            <input type="submit" value='Add Stuff'/>
           
        
     </form>
{% endblock %}