{% extends "base.html" %}

{% block content %}


    <h2>Sign Up Ye to Ye Blogging</h2>
    <form action="/signup" method="POST">

    
        <label> Username
        <input name="username" type="text" id="stormtrooper" value="" style="width:250px; height:25px;" />
            <span class="error">{{username_error}}</span>
        </label></br>
        <label>Password
        <input name="password" type="password" id="stormtrooper" value="" style="width:250px; height:25px;" />
            <span class="error">{{password_error}}</span>
        </label></br>
        <label>Confirm
        <input name="verify" type="password" id="stormtrooper" value="" style="width:250px; height:25px;" />
            <span class="error">{{verify_error}}</span>
        </label></br>

        <input type="submit" value="Sign Up" "font size 20px;" style="width:100px;" "height:25px;" /></br>


    </form>



{% endblock %}